<% layout('/layouts/boilerplate.ejs') %>
<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-3">
    <form
      action="/campgrounds/<%= campground._id %>?_method=PUT"
      method="post"
      class="validated-form"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">title</label>
        <input
          type="text"
          id="title"
          class="form-control"
          name="campground[title]"
          value="<%= campground.title %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">location</label>
        <input
          type="text"
          id="location"
          class="form-control"
          name="campground[location]"
          value="<%= campground.location %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <!-- <div class="mb-3">
        <label for="image" class="form-label">Add Images</label>
        <input type="file" name="image" id="image" multiple />
      </div> -->
      <div class="mb-3">
        <label for="price" class="form-label">campground price</label>
        <div class="input-group">
          <span id="price-label" class="input-group-text">$</span>
          <input
            type="text"
            class="form-control"
            id="price"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-label"
            name="campground[price]"
            value="<%= campground.price %>"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">description url</label>
        <textarea
          type="text"
          id="description"
          class="form-control"
          name="campground[description]"
          required
        >
<%= campground.description %>"</textarea
        >
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="">Upload Images</label>
        <div class="form-file custom-file mb-5">
          <input
            class="form-control"
            type="file"
            id="image"
            name="image"
            multiple
          />
          <label for="image" class="form-label custom-file-label">
            Add more image(s)...</label
          >
        </div>
      </div>
      <div class="mb-3">
        <button class="btn btn-info">update campground</button>
      </div>
    </form>
    <a href="/campgrounds/<%= campground._id %>">back to campground</a>
  </div>
</div>
